* {
  padding: 0;
  margin: 0;
}

body {
  /* background-image: linear-gradient(135deg, #abffc4 10%, #74ecfa 100%); */
  /* font-family: "Roboto", cursive; */
  font-family: "Play", sans-serif;
  color: rgb(73, 72, 72);
  position: relative;
  height: 100%;
  width: 100%;
}

div.nav-bar {
  background-color: rgb(238, 238, 238);
  height: 100px;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.nav-bar h1 {
  font-size: 2.2rem;
  width: 400px;
  margin-left: 30px;
}

div.nav-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  flex-wrap: wrap;
}

ul li {
  font-size: 1.3rem;
  text-align: center;
  height: 40px;
  width: 150px;
  margin: 5px;
}
b {
  color: #ff0063;
}

ul li a {
  text-decoration: none;
  color: rgb(73, 72, 72);
  margin-top: 10px;
  font-size: 1.2rem;
}

ul li a:hover {
  color: #ff0063;
}
/* Main container */

.main-container {
  /* background-color: antiquewhite; */
  height: 100%;
  width: 100%;
  padding-top: 30px;
  margin-bottom: 30px;
}
.sections {
  background-color: rgb(255, 255, 255);

  margin: 20px 0 0 30px;
  padding: 20px;
  max-height: 400px;
  max-width: 50%;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
}
section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
/* form.read-more {
  display: inline-block;
  margin-left: 0;
} */
p.date {
  margin-bottom: 20px;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p.blog-text {
  display: block;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
p.full-blog-text {
  font-size: 1.5rem;
  width: 80%;
  overflow: visible;
  white-space: normal;
}

div.blog_data {
  height: 100vh;
}
section.section-fullPost {
  margin: 60px 0 0 10px;
  max-height: 600px;
}

section.section-fullPost:hover {
  border: 1px solid #ff0063;
}
section button:first-of-type {
  text-decoration: none;
  background-color: white;
  display: block;
  width: 90px;
  height: 30px;
  padding: 5px;
  color: rgb(73, 72, 72);
  border: 2px solid #ff0063;
  border-radius: 5px;
  margin-bottom: 20px;
}

section button:first-of-type:hover {
  background-color: #ff0063;
  color: white;
}

/* Footer */

.footer-div {
  background-color: #ff0063;
  color: #fff;
  position: relative;
  text-align: center;
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  height: 4rem; /* Footer height */
}

.footer {
  font-size: 1.5rem;
}

/* contact page */

div.form-data {
  min-height: 100vh;
  font-family: "Play", sans-serif;
}

h1.contact-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  padding: 10px;
}

form.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
  height: 100%;
  padding: 20px;
}

input[type="text"] {
  font-size: 1.3rem;
  padding: 10px;
  width: 100%;
  height: 40px;
  border-style: none;
  border-bottom: 1px solid #818181;
  margin-bottom: 20px;
}
label {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 10px;
}

textarea {
  font-size: 1.3rem;
  padding: 10px;
  width: 100%;
  height: 200px;
  border: 1px dashed #ff0063;
  border-radius: 5px;
  margin-bottom: 30px;
}

textarea:hover,
input[type="text"]:hover {
  border-bottom: 1px solid #ff0063;
}

textarea:active,
input[type="text"]:active {
  border-style: none;
}

input.form-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 102%;
  height: 50px;
  font-size: 1.3rem;
  background-color: #ffffff;
  border: 1px solid #ff0063;
  border-radius: 5px;
  margin-bottom: 20px;
}

::placeholder {
  padding: 10px;
  font-family: "Play", sans-serif;
  font-size: 1.3rem;
  margin-left: 10px;
}

input.form-button:hover {
  background-color: #ff0063;
  color: white;
}
