<%-include("../partials/header.ejs") -%>
<div class="main-container">
  <section class="sections">
    <h1>Day 1</h1>
    <h2 class="post-heading">Programmers and gamers</h2>
    <p class="date">13/08/2022</p>
    <p class="blog-text">
      Simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the leap
      into electronic
    </p>
    <a href="#">Read more</a>
  </section>

  <section class="sections">
    <h1>Day 2</h1>
    <h2 class="post-heading">technologies that would change the world</h2>
    <p class="date">13/08/2022</p>
    <p class="blog-text">
      Simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the leap
      into electronic
    </p>
    <a href="#">Read more</a>
  </section>

  <section class="sections">
    <h1>Day 3</h1>
    <h2 class="post-heading">Python Chronicals</h2>
    <p class="date">13/08/2022</p>
    <p class="blog-text">
      Simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when an
      unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the leap
      into electronic
    </p>
    <a href="#">Read more</a>
  </section>
</div>
<%- include("../partials/footer.ejs") -%>
