<%-include("../partials/header.ejs")-%>

<form class="contacts">
  <h1>The pleasure will be all mine!!</h1>
  <form>

    <input type="text" name="name" id="name" placeholder="name">

    <input type="text" name="email" id="email" placeholder="email">
    <label for="message">Message</label>
    <textarea name="message" id="message" cols="30" rows="10"></textarea>
    <input type="submit" value="Send">
</form>
</div>

<%- include("../partials/footer.ejs") -%>
