<%-include("../partials/header.ejs")-%>


<div class="form-data">
  <form class="contacts" action="">
    <h1 class="contact-heading">The pleasure will be all mine!!</h1>
    <form>
      
      <input type="text" name="name" id="name" placeholder="NAME">
      <input type="text" name="email" id="email" placeholder="EMAIL">
      <label for="message">Message</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <input class="form-button" type="submit" value="Send">
  </form>
</div>

<%- include("../partials/footer.ejs") -%>
